@charset "UTF-8";
//auth：wangfeng ;my pen name:little
//my blog:https://github.com/islittle
//If you have question ,please email to islittle@outlook.com
//Description: the following is an example of font-family and color
// font-fmaily
$font-arial : Arial;
// color 
$grey-dark: #464646;
$grey-light: #8e8e8e; 
$grey-fc: #fcfcfc;
$grey-c0: #c0c0c0;
$grey-dd: #dddddd;
$grey-66: #666666;
$blue-dark: #2b7ec2; //深蓝色
$blue-1: #1185df; //蓝色
$blue-light: #04aeda; //淡蓝色
$orange-red: #ff6e40; //桔红色
$orange-red-light: #ffaa00; //淡桔红色
$orange-yellow-1:#ff9900;
$orange-yellow-2:#ffa644; //橘黄色
$green: #37b914; //绿色
$green-light: #76d033; //淡绿色
$color-disabled: #b9cfd9; //取消色系
$white:#ffffff;//白色
$red-light: #ff0000; //鲜红色
$border:1px solid $grey-dd;


